# Logs
logs
*.log

# local
*.local

# Editor directories and files
wandb/

# env
.yaml
.env

# output
nohup.out
.out
.wav
output/
script/train/AudioLDM-with-LoRA/
/data/LoRA_weight/
/data/dataset/out/
/script/inference/generated_audio_LoRA/
/script/inference/generated_audio_Base/
/script/inference/referaudio/
generated_audio/